@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.img{
  width: 25%;
  border-radius: 200px;
  margin-right: 200px;
  box-shadow: 2px 40px 40px black;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, dodgerblue,black);
}
.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, dodgerblue, black);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
    border: 2px solid black;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 9px;
    border-color: black;
    font-family: 'Poppins', sans-serif;
   }
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #4a97da;
}
form .gender-details .gender-title {
  font-size: 20px; 
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 5px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #5999b6;
  border-color: #0c0c0c;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, dodgerblue, black);
}
form .button input:hover {
  background: linear-gradient(-135deg, dodgerblue, black);
}
/* Responsive media query code for mobile devices */
@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
/* Responsive media query code for mobile devices */
@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
@keyframes sliding{
  0%{
    background-image: url(download\ -\ Copy.jpeg);
    transform: skew(-10deg);
  }
  5%{
    background-image: url(download\ -\ Copy.jpeg);
    transform: skew(10deg);
  }
  10%{
    background-image: url(download\ -\ Copy.jpeg);
    transform: skew(10deg);
  }
  15%{
    background-image: url(download\ -\ Copy.jpeg);
    transform: skew(10deg);
  }
  20%{
    background-image: url(download\ -\ Copy.jpeg);
    transform: skew(10deg);
  }
  25%{
    background-image: url(download\ -\ Copy.jpeg);
    transform: skew(10deg);
  }
  30%{
    background-image: url(download\ -\ Copy.jpeg);
    transform: skew(-10deg);
  }
}
.img{
  animation-name: sliding;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.input-box .fa-envelope
{
  position: absolute;
  padding: 13.5px;
  min-width: 40px;
  margin-left: 260px;
}
.input-box .fa-lock{
  position: absolute;
  padding: 13.5px;
  min-width: 40px;
  margin-left: 260px;
}
.input-box .fa-graduation-cap{
  position: absolute;
  padding: 13.5px;
  min-width: 40px;
  margin-left: 260px;
}
.input-box .fa-building{
  position: absolute;
  padding: 13.5px;
  min-width: 40px;
  margin-left: 260px;
}

.input-box .fa-user{
  position: absolute;
  padding: 13.5px;
  margin-left: 260px;
  min-width: 40px;
  
}

.input-box .fa-phone{
  position:absolute;
  padding: 13.5px;
  margin-left: 260px;
  min-width: 40px;
}

*{
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}
.form{
  text-align: center;
}





